<a href="https://colab.research.google.com/github/aldacristina/dio-lab-open-source/blob/main/ETLproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (19.10.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [73]:
import sqlite3
from faker import Faker
import random

# Criação de instância do Faker
fake = Faker()

# Conectando ao banco de dados SQLite
conn = sqlite3.connect('clientes_shoes.db')
cursor = conn.cursor()

# Tabela para armazenar os dados
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Clientes (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Nome TEXT,
        Email TEXT,
        Telefone TEXT,
        Endereco TEXT,
        DataNascimento DATE,
        Genero TEXT
    )
''')

# Gerando e inserindo aleatoriamente os 100 conjuntos de dados para pessoas
for _ in range(100):
    nome = fake.name()
    email = fake.email()
    telefone = fake.phone_number()
    endereco = fake.address()
    data_nascimento = fake.date_of_birth(minimum_age=18, maximum_age=80)
    genero = random.choice(["Masculino", "Feminino"])

    # Dados da Tabela
    cursor.execute('''
        INSERT INTO Clientes (Nome, Email, Telefone, Endereco, DataNascimento, Genero)
        VALUES (?, ?, ?, ?, ?, ?)
    ''', (nome, email, telefone, endereco, data_nascimento, genero))

# Commit (salve) as alterações no banco de dados
conn.commit()

# Feche a conexão com o banco de dados
conn.close()

In [74]:
import pandas as pd

In [75]:
# Para visualização
conn = sqlite3.connect('clientes_shoes.db')

# 1º faz a consulta
query = "SELECT * FROM Clientes"
df = pd.read_sql_query(query, conn)

# Feche a conexão com o banco de dados
conn.close()

In [76]:
# Exibição de dados com o Pandas
print(df)

     ID                Nome                        Email  \
0     1  Christopher Garcia       greenjames@example.org
1     2      Brenda Stewart            fdiaz@example.org
2     3        Kayla Martin     jenningsrick@example.org
3     4       Anthony Smith  everettkimberly@example.net
4     5       Jeffery Smith          jbrooks@example.net
..  ...                 ...                          ...
95   96       David Nichols  mitchellheather@example.org
96   97    Natasha Mckenzie          keith74@example.com
97   98           Kim Burns     douglascantu@example.org
98   99     Antonio Herrera         leslie75@example.net
99  100    Patrick Thompson          onguyen@example.com

                  Telefone                                           Endereco  \
0        795-897-7200x8697  5004 Melissa Mission Apt. 455\nBrianton, KY 83710
1         001-905-881-9932           722 Stacey Bypass\nBowmanshire, ME 83191
2   001-217-625-7660x91112      39010 Douglas Lodge\nPort Carlmouth, ID 87129
3         001-283-228-7793            212 Barr Ridges\nPort Kenneth, ND 12759
4            (669)641-6040  56036 Emily Passage Apt. 101\nSouth Holly, NH ...
..                     ...                                                ...
95        742.886.3851x153                           USNS Davis\nFPO AA 42496
96        001-567-313-3202  79269 Allen Radial Suite 366\nNorth Adamside, ...
97      (780)950-0655x8805          162 Heather Pike\nPowellchester, MN 65655
98    +1-876-450-4689x2905             2485 Hess Burg\nCameronhaven, KS 05024
99     +1-593-523-1633x025                   PSC 7682, Box 5721\nAPO AA 09237

   DataNascimento     Genero
0      1983-12-26  Masculino
1      1965-05-20   Feminino
2      1986-05-07  Masculino
3      1996-03-17  Masculino
4      1992-08-24   Feminino
..            ...        ...
95     1988-11-11  Masculino
96     1958-04-16   Feminino
97     1946-01-04  Masculino
98     1961-08-29  Masculino
99     1962-06-26  Masculino

[100 rows x 7 columns]

In [77]:
!pip install openai

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.28.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)

In [78]:
openai_api_key = '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'

In [79]:
import openai

openai.api_key = openai_api_key

def generate_ai_news(user):
  completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
    {
        "role": "system",
        "content": "Você é um especialista em marketing para loja de calçados."
    },
    {
        "role": "user",
        "content": f"Crie uma mensagem para {user['Nome']} sobre os novos lançamentos e promoções (máximo de 100 caracteres)."
    }
  ],
  max_tokens=50
)
  return completion.choices[0].message.content.strip('\"')

generated_messages = []


for index, row in df.head(3).iterrows():
    user = row
    news = generate_ai_news(user)
    df.at[index, 'News'] = news

#Foi necessário limitar os tokens e o número de geração de mensagens devido às limitações da Openai gratuita.

In [80]:
print(df)

     ID                Nome                        Email  \
0     1  Christopher Garcia       greenjames@example.org
1     2      Brenda Stewart            fdiaz@example.org
2     3        Kayla Martin     jenningsrick@example.org
3     4       Anthony Smith  everettkimberly@example.net
4     5       Jeffery Smith          jbrooks@example.net
..  ...                 ...                          ...
95   96       David Nichols  mitchellheather@example.org
96   97    Natasha Mckenzie          keith74@example.com
97   98           Kim Burns     douglascantu@example.org
98   99     Antonio Herrera         leslie75@example.net
99  100    Patrick Thompson          onguyen@example.com

                  Telefone                                           Endereco  \
0        795-897-7200x8697  5004 Melissa Mission Apt. 455\nBrianton, KY 83710
1         001-905-881-9932           722 Stacey Bypass\nBowmanshire, ME 83191
2   001-217-625-7660x91112      39010 Douglas Lodge\nPort Carlmouth, ID 87129
3         001-283-228-7793            212 Barr Ridges\nPort Kenneth, ND 12759
4            (669)641-6040  56036 Emily Passage Apt. 101\nSouth Holly, NH ...
..                     ...                                                ...
95        742.886.3851x153                           USNS Davis\nFPO AA 42496
96        001-567-313-3202  79269 Allen Radial Suite 366\nNorth Adamside, ...
97      (780)950-0655x8805          162 Heather Pike\nPowellchester, MN 65655
98    +1-876-450-4689x2905             2485 Hess Burg\nCameronhaven, KS 05024
99     +1-593-523-1633x025                   PSC 7682, Box 5721\nAPO AA 09237

   DataNascimento     Genero  \
0      1983-12-26  Masculino
1      1965-05-20   Feminino
2      1986-05-07  Masculino
3      1996-03-17  Masculino
4      1992-08-24   Feminino
..            ...        ...
95     1988-11-11  Masculino
96     1958-04-16   Feminino
97     1946-01-04  Masculino
98     1961-08-29  Masculino
99     1962-06-26  Masculino

                                                 News
0   Descubra os últimos lançamentos e aproveite as...
1   Descubra os novos calçados da temporada com de...
2   Não perca os novos lançamentos de calçados e a...
3                                                 NaN
4                                                 NaN
..                                                ...
95                                                NaN
96                                                NaN
97                                                NaN
98                                                NaN
99                                                NaN

[100 rows x 8 columns]

In [83]:
conn = sqlite3.connect('clientes_shoes.db')

# Verifique se a coluna "News" já existe na tabela
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(Clientes)")
columns = [column[1] for column in cursor.fetchall()]

if 'News' not in columns:
    conn.execute("ALTER TABLE Clientes ADD COLUMN News TEXT")
    conn.commit()

# Banco de dados atualizado:
for index, row in df.iterrows():
    news = row['News']
    person_id = row['ID']
    conn.execute("UPDATE Clientes SET News = ? WHERE ID = ?", (news, person_id))
    conn.commit()

conn.close()

In [84]:
#Checagem final do processo de etl:
conn = sqlite3.connect('clientes_shoes.db')
query = "SELECT * FROM Clientes"
df = pd.read_sql_query(query, conn)

print(df)

# Fechar a conexão com o banco de dados
conn.close()

     ID                Nome                        Email  \
0     1  Christopher Garcia       greenjames@example.org
1     2      Brenda Stewart            fdiaz@example.org
2     3        Kayla Martin     jenningsrick@example.org
3     4       Anthony Smith  everettkimberly@example.net
4     5       Jeffery Smith          jbrooks@example.net
..  ...                 ...                          ...
95   96       David Nichols  mitchellheather@example.org
96   97    Natasha Mckenzie          keith74@example.com
97   98           Kim Burns     douglascantu@example.org
98   99     Antonio Herrera         leslie75@example.net
99  100    Patrick Thompson          onguyen@example.com

                  Telefone                                           Endereco  \
0        795-897-7200x8697  5004 Melissa Mission Apt. 455\nBrianton, KY 83710
1         001-905-881-9932           722 Stacey Bypass\nBowmanshire, ME 83191
2   001-217-625-7660x91112      39010 Douglas Lodge\nPort Carlmouth, ID 87129
3         001-283-228-7793            212 Barr Ridges\nPort Kenneth, ND 12759
4            (669)641-6040  56036 Emily Passage Apt. 101\nSouth Holly, NH ...
..                     ...                                                ...
95        742.886.3851x153                           USNS Davis\nFPO AA 42496
96        001-567-313-3202  79269 Allen Radial Suite 366\nNorth Adamside, ...
97      (780)950-0655x8805          162 Heather Pike\nPowellchester, MN 65655
98    +1-876-450-4689x2905             2485 Hess Burg\nCameronhaven, KS 05024
99     +1-593-523-1633x025                   PSC 7682, Box 5721\nAPO AA 09237

   DataNascimento     Genero  \
0      1983-12-26  Masculino
1      1965-05-20   Feminino
2      1986-05-07  Masculino
3      1996-03-17  Masculino
4      1992-08-24   Feminino
..            ...        ...
95     1988-11-11  Masculino
96     1958-04-16   Feminino
97     1946-01-04  Masculino
98     1961-08-29  Masculino
99     1962-06-26  Masculino

                                                 News
0   Descubra os últimos lançamentos e aproveite as...
1   Descubra os novos calçados da temporada com de...
2   Não perca os novos lançamentos de calçados e a...
3                                                None
4                                                None
..                                                ...
95                                               None
96                                               None
97                                               None
98                                               None
99                                               None

[100 rows x 8 columns]